<div class="master-edit-form">
<%= render "form.html", changeset: @changeset,
                        action: master_path(@conn, :update, @master) %>

<%= link "Back", to: master_path(@conn, :index) %>
</div>
