body {
	background-color: white;
}

.brand-logo{
	text-align: left;
}

.header-link {
	font-size: 1em;
}

.master-name{
	text-align: center;
	margin-left: 3em;
	margin-top: 1em;
}

.master-container{
	height: 10em;
	margin-top: 2em;
}

.master-add{
	padding-top: 1em;
}

.master-preview{
	height:	auto;
	width: auto;
	min-width: 20em;
	min-height: 20em;
	margin-bottom: 2em;
	background-color: white;
	border-radius: 1em;
	border-style: dotted;
	padding-left: 2em;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 2em;
}
.master-desc-area{
	margin-left: 10em;
}

.master-label{
	font-weight: bold;
	font-size: 1em;
}

.master-desc{
	text-align: left;
}

.master-image{
	height: 15em;
	width: 15em;
	float: left;
}

.central-page{
	text-align: center;
	padding-top: 5em;
}

.rank-label-up{
	font-size: 18px;
	font-weight: bold;
	color: green;
}

.rank-label-down{
	font-size: 18px;
	font-weight: bold;
	color: red;
}

.top-5-images-header{
	text-align: center;
	font-weight: lighter;
}

.user-profile{
	margin-top: 5em;
	padding-top: 2em;
	padding-left: 2em;
	padding-bottom: 1em;
}

.username{
	font-size: 16px;
	font-weight: bold;
	color: black;
}
